.container{
    height: 15vh;
    width: 100%;
    display: flex;
    flex: 6;
    flex-direction: row;
}
.image {
    flex: 1;
    display: flex;
    align-items: center;
}
.image img{
    height: auto;
    width: 100%;
    vertical-align: center;
}
.text{
    flex: 5;
    margin-left: 2%;
    font-size: 2vw;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    vertical-align: center;
    flex-direction: column;
}
.text p{
    margin: 0;
}
#text-top{
   font-family: Montserrat, sans-serif;
   font-weight: 900;
   color: white;
   font-size: 1.2em;
}
#text-bottom{
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-style: italic;
    color: #FFAA00;
    font-size: 0.9em;
}
@media only screen and (max-width:820px)  {
    .container {
        height: 15vh;
    }
    .text{
        font-size: 4.5vw;
    }
}
@media only screen and (max-width:1024px)  {
    .container {
        font-size: 3vw;
    }
}