.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vw;
  height: fit-content;
  background-image: linear-gradient(to right, #0D6D7D, #D6F6FB );
}
#scroll-back-underlay{
  display: none;
  box-sizing: content-box;
  z-index: 999;
  opacity: 70%;
  width: 4%;
  height: 7%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  top: 2%;
  right: 6%;
  border-radius: 50%;
  background-color: #FFAA00;
}
#scroll-back-button{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
}
#scroll-back-underlay:hover{
  opacity: 100%;
}



@media only screen and (max-width:812px)  {
  #scroll-back-underlay{
    display: none;
    box-sizing: content-box;
    opacity: 100%;
    width: 10%;
    height: 7%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    top: 2%;
    right: 6%;
    border-radius: 50%;
    background: none;
  }
  #scroll-back-button{
    border-bottom: 20px solid #FFAA00;
  }
  .container{
    font-size: 3vw;
    height: fit-content;
  }
}




