@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/montserrat/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: local('Montserrat'), url(./fonts/montserrat/Montserrat-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: local('Montserrat'), url(./fonts/montserrat/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: local('Montserrat'), url(./fonts/montserrat/Montserrat-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: italic;
  src: local('Montserrat'), url(./fonts/montserrat/Montserrat-ThinItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: local('Montserrat'), url(./fonts/montserrat/Montserrat-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  src: local('Montserrat'), url(./fonts/montserrat/Montserrat-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: italic;
  src: local('Montserrat'), url(./fonts/montserrat/Montserrat-ExtraBoldItalic.ttf);
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


